{% extends "main/index.html" %}

{% block body %}

    <div class="row">
        <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="text-center">
                    <h4 class="lead">Register</h4>
                </div>
                <form action="" method="POST" role="form">
                    {{ form.csrf_token }}
                    <p>
                        <input type="email" class="form-control" id="email" name="email" required="required" placeholder="Email">
                    </p>

                    <p>
                        <input type="password" class="form-control" id="password" name="password" required="required" placeholder="Password">
                    </p>

                    <p>
                        <input type="password" class="form-control" id="confirm" name="confirm" required="required" placeholder="Password Again">
                    </p>

                    <button type="submit" class="btn btn-default">Register</button>
                </form>
        </div>
    </div>
{% endblock %}
