{% extends "main/index.html" %}

{% block body %}
<h3>API Authentication - {{ current_user.email }}</h3>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}        

    <form action="" method="POST" role="form">
        {{ form.csrf_token }}
        <p>
            <label for="">Project Name:</label>
            <input type="text" id="name" name="name" placeholder="Project Name">
        </p>
        <p>
            <select name="api_type">
            {% for choice in form.api_type %}
            <option value="{{ form.choice }}">{{ form.choice }}</option>
            </select>
            {% endfor %}

        <button type="submit">Save Project</button>
    </form>
{% endblock %}