{% extends "main/index.html" %}

{% block body %}


{% if proj_auth.oauth_token and proj_auth %}

<h3>Build Queries // {{ project.name }} (Authenticated as: {{ basic_query[0]['user']['screen_name'] }} ) 
<a href="{{ url_for('get_oauth_twitter.request_token', pid=project.id) }}">(Re-Authenticate)</a> Token: {{ proj_auth.oauth_token }} | Token Secret: {{ proj_auth.oauth_token_secret }}</h3>    

<strong>Recent tweet:</strong> {{ basic_query[0]['text'] }} ({{ basic_query[0]['id'] }})

<p>
    <a href="{{ url_for('build_timeline_query.build', pid=project.id) }}">Create New Timeline Query</a>
</p>

<p>
    <a href="{{ url_for('build_timeline_query.build_mentions', pid=project.id) }}">Create New Mentions Query</a>
</a>    

<h3>Current Timeline Queries</h3>
{% for query in timeline_queries %}
    {% if query.enabled %}

    <p>{{ query.name }} | Created on: {{ query.created_on }} | Include RTs: {{ query.include_rts }} | Active: {{ query.enabled }} 
    <a href="{{ url_for('build_timeline_query.change_status_timeline', qid=query.id, pid=project.id) }}">(Disable)</a></p>

    {% else %}

    <p>{{ query.name }} | Created on: {{ query.created_on }} | Include RTs: {{ query.include_rts }} | Active: {{ query.enabled }} 
    <a href="{{ url_for('build_timeline_query.change_status_timeline', qid=query.id, pid=project.id) }}">(Enable)</a><p>

    {% endif %}
{% endfor %}     

 <h3>Current Mentions Queries</h3>
 {% for query in mentions_queries %}
    {% if query.enabled %}

    <p>{{ query.name }} | Created on: {{ query.created_on }} | Active: {{ query.enabled }} 
    <a href="{{ url_for('build_timeline_query.change_status_mentions', qid=query.id, pid=project.id) }}">(Disable)</a></p> 

    {% else %}

    <p>{{ query.name }} | Created on: {{ query.created_on }} | Active: {{ query.enabled }} 
    <a href="{{ url_for('build_timeline_query.change_status_mentions', qid=query.id, pid=project.id) }}">(Enable)</a></p> 

    {% endif %}
{% endfor %}

{% else %}    

<h3>Build Queries // {{ project.name }} 
<a href="{{ url_for('get_oauth_twitter.request_token', pid=project.id) }}">(Please authenticate)</a></h3>
 

{% endif %}


{% endblock %}