{% extends "main/index.html" %}

{% block body %}


{% if proj_auth.oauth_token and proj_auth %}

<h3>Build Queries // {{ project.name }} (Authenticated as: {{ basic_query[0]['user']['screen_name'] }} ) 
<a href="{{ url_for('get_oauth_twitter.request_token', pid=project.id) }}">(Re-Authenticate)</a></h3>    

<strong>Recent tweet:</strong> {{ basic_query[0]['text'] }} ({{ basic_query[0]['id'] }})

<p>
    <a href="{{ url_for('build_query.build', pid=project.id) }}">Create New          Timeline Query</a>
</p>

<h3>Current Queries</h3>
{% for query in proj_queries %}
    {% if query.enabled %}

    <p>{{ query.name }} | Created on: {{ query.created_on }} | Include RTs: {{ query.include_rts }} | Active: {{ query.enabled }} 
    <a href="{{ url_for('build_query.change_status', qid=query.id, pid=project.id) }}">(Disable)</a><p>

    {% else %}

    <p>{{ query.name }} | Created on: {{ query.created_on }} | Include RTs: {{ query.include_rts }} | Active: {{ query.enabled }} 
    <a href="{{ url_for('build_query.change_status', qid=query.id, pid=project.id) }}">(Enable)</a><p>

    {% endif %}
{% endfor %} 

{% else %}

<h3>Build Queries // {{ project.name }} 
<a href="{{ url_for('get_oauth_twitter.request_token', pid=project.id) }}">(Please authenticate)</a></h3>
 

{% endif %}


{% endblock %}