{% extends "main/index.html" %}

{% block body %}


{% if proj_auth.oauth_token and proj_auth %}

<h3>Build Queries // {{ project.name }} (Authenticated)</h3>    

<strong>Recent tweet:</strong> {{ basic_query }}

<p>
    <a href="{{ url_for('build_query.build', pid=project.id) }}">Create New Query</a>
</p>

<h3>Current Queries</h3>
{% for query in proj_queries %}
    <p>{{ query.name }} | Created on: {{ query.created_on }} | Include RTs: {{ query.include_rts }} | Active: {{ query.active }}<p>
{% endfor %} 

{% else %}

<h3>Build Queries // {{ project.name }} <a href="{{ url_for('get_oauth_twitter.request_token', pid=project.id) }}">(Please authenticate)</a></h3>
 

{% endif %}


{% endblock %}