{% extends "main/index.html" %}

{% block body %}


{% if proj_auth.oauth_token and proj_auth %}

<h3>Build Queries // {{ project.name }} (Authenticated)
<a href="{{ url_for('get_oauth_instagram.request_token', pid=project.id) }}">(Re-authenticate)</a> ({{ proj_auth.oauth_token }})</h3>

<p>
    <a href="{{ url_for('build_query.build_user_query', pid=project.id) }}">Create New User Info Query</a>
</p>

<p>
    <a href="{{ url_for('build_query.build_feed_query', pid=project.id) }}">Create New Feed Query</a>
</p>


<h3>Current User Timeline Queries</h3>
{% for query in user_info_queries %}
    {% if query.enabled %}

    <p>
        {{ query.name }} | Created on: {{ query.created_on }} | Active: {{ query.enabled }}
        <a href="#">(Disable)</a>
    </p>

    {% else %}

    <p>
        {{ query.name }} | Created on: {{ query.created_on }} | Active: {{ query.enabled }}
        <a href="#">(Enable)</a>
    </p>

    {% endif %}
{% endfor %} 



{% else %}

<h3>Build Queries // {{ project.name }}
<a href="{{ url_for('get_oauth_instagram.request_token', pid=project.id) }}">(Please authenticate)</a></h3>

{% endif %}


{% endblock %}