{% extends "main/index.html" %}

    {% block title %}
    <title>Aggtron - Create Project</title>
    {% endblock %}

{% block body %}
<h3>API Authentication - {{ current_user.email }}</h3>

    <form action="" method="POST" role="form">
        <div class="form-group">
            {{ form.csrf_token }}
            <p>
                <label for="">Project Name:</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Project Name">
            </p>

            <button class="btn btn-default" type="submit">Save Projects</button>
        </div>
    </form>
{% endblock %}